.container {
	height: 100vh;
	display: grid;
	grid-template-rows: 80px 1fr 30px;
	grid-template-columns: 25% 25% 25% 25%;
}

#header {
	background: lightgrey;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}

#details {
	background: white;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#navigator {
	background: grey;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

#footer {
	background: black;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}

.header {
	display: flex;
	height: 80px;
	/*justify-content: space-around;*/
}

.header-left {
	flex: 1;
}

.header-left-element {
	
}

.header-title {
	font-size: 550%;
	color: white;
	font-weight: bold;
	text-align: left;
}

.header-right {
	vertical-align: middle;
	flex: 1;
	display: flex;
	justify-content: flex-end;
}

.header-right-element {
	display: flex;
	align-items: center; /* Vertikale Zentrierung */
	justify-content: center;
}

.header-button {
	height: 2.5em;
	width: 6em;
	text-align: center;
	color: black;
}

.report-button {
	height: 2.5em;
	width: 6em;
	text-align: center;
	color: black;
	font-style: italic;
}

.user-icon-element {
	
}

.user-icon {
	
}

.loginButton{
	margin: 50px;
	color:white;
	padding-left: 35px;
	border: none;
	font-size:170% !important;
	font-weigth: bolder;
	cursor: pointer;
	background: transparent;
	background-repeat:no-repeat;
	background-image: url("images/logoutIcon.png");
	
}

.loginLabel {
	margin-top: 150px;
	font-size: 24pt !important;
	font-weight: bold;
	color: white;
    overflow:auto;
}
.regestrationForm {
	
  height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

.welcomeHeadline {
	
}
.greetingLabel {
	
}
.googleloginButton {
	
}