.container {
  height:100vh;
  display: grid;
  grid-template-rows: 150px 1fr 30px;
  grid-template-columns: 25% 25% 25% 25%;
}
#header {
  background:tomato;
  grid-column-start:1;
  grid-column-end:5;
  grid-row-start:1;
  grid-row-end:2;
}
#details {
  background:gold;
  grid-column-start:2;
  grid-column-end:5;
  grid-row-start:2;
  grid-row-end:3;
}
#navigator {
  background:lightgreen;
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:2;
  grid-row-end:3;
}
#footer {
  background:lightblue;
  grid-column-start:1;
  grid-column-end:5;
  grid-row-start:3;
  grid-row-end:4;
}
.header {
	display: flex;
}
