html {
    background-color: #fff;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
      margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr 30px;
	grid-template-columns: 25% 25% 25% 25%;
}

#header {
    background-color: #d5dee0;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

#details {
	background: white;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}

#navigator {
	border-style: solid;
	border-left: none;
	border-top: none;
	border-bottom: none;
	border-width: 1px;
  	padding: 10px;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	border-color: #d5dee0;
}

#footer {
  background-color: #d5dee0;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}

.header {
  min-height: 3.25rem;
  align-items: stretch;
  display: flex;
  position: relative;
  z-index: 30;
}

.header_left {
  align-items: stretch;
  display: flex;
  flex-shrink: 0;
  min-height: 3.25rem;
}

.header_left_element {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
	font-weight: bold;
	color: white;
}
.header_title {
     color: white;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
    font-weight: bold;
}

.header_subtitle {
    color: #4db1e2;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25;
    font-style: italic;
}

.header_right {
    flex-grow: 1;
    flex-shrink: 0;
}

.header_end {
    justify-content: flex-end;
    margin-left: auto;
		align-items: stretch;
		display: flex;
}

.header_right_elememt {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1.5;
  padding: .5rem .75rem;
  position: relative;
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}

.header_image {
    height: 64px;
    width: 64px;
		display: block;
		position: relative;
		color: #3273dc;
		cursor: pointer;
		text-decoration: none;
}

.img {
    height: auto;
    max-width: 100%;
}

.loginButton{
	margin: 50px;
	color:white;
	padding-left: 35px;
	border: none;
	font-size:170% !important;
	font-weigth: bolder;
	cursor: pointer;
	background: transparent;
	background-repeat:no-repeat;
	background-image: url("images/logoutIcon.png");
	
}

.loginLabel {
	margin-top: 150px;
	font-size: 24pt !important;
	font-weight: bold;
	color: white;
    overflow:auto;
)