<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">





  <!-- Servlets -->
  
  <servlet>
    <servlet-name>einkaufslistenVerwaltungServlet</servlet-name>
    <servlet-class>sharedShoppingList.server.EinkaufslistenverwaltungImpl</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>einkaufslistenVerwaltungServlet</servlet-name>
    <url-pattern>/sharedshoppinglist/einkaufslistenverwaltung</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>reportClientServlet</servlet-name>
	<servlet-class>sharedShoppingList.server.report.ReportClientImpl</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>reportClientServlet</servlet-name>
    <url-pattern>/reportgenerator/reportClient</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>sharedShoppingList.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/sharedshoppinglist/login</url-pattern>
  </servlet-mapping>

  
  <welcome-file-list>
    <welcome-file>SharedShoppingList.html</welcome-file>
  </welcome-file-list>



</web-app>
